@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

h4 {
    font-family: sans-serif;
    margin: 0px 0px 0px 10px;
}

h3 {
    font-family: sans-serif;
    margin: 0px 0px 0px 10px;
}

a {    
    color: white;
}

body {
  background-image: url("https://github.com/Mrsheep561/Mrsheep561.github.io/blob/main/wallpaper.png?raw=true");
  background-size: 100vw 100vh;
}

h1 {
   font-family: "Fredoka", sans-serif;
}
 
h2 {
    font-family: "Oswald", sans-serif;
}

.gradient {
margin: 60px 0px 0px 0px;
background: linear-gradient(to right, #ff0000, #ff6200, #f6ff00, #2bff00, #03fcec, #f803fc);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
 background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100%  50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
